@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:wght@500&display=swap');

:root {
	--primary: orange;
	--secondary: #142253;
	--shadow: -24px 32px 48px -8px hsl(0, 0%, 80%), 0 0 24px hsl(0, 0%, 90%);
	--shadow-hover: -24px 32px 48px -8px hsl(0, 0%, 65%), 0 0 24px hsl(0, 0%, 90%);
	--inter: 'Inter', sans-serif;
	--berkshire: 'Berkshire Swash', cursive;
	--surface: #f3f3f3;
}

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	color: #2e2e2e;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	border: none;
}

body {
	background-color: var(--surface);
}

input {
	background-color: transparent;
}
button {
	cursor: pointer;
}

.navigation.open {
	translate: 0 !important;
	opacity: 1 !important;
}

.input-field {
	background-color: white;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 0.7rem;
	box-shadow: var(--shadow);
	padding-left: 1rem;
	transition: 100ms ease;
}
.input-field:hover {
	box-shadow: var(--shadow-hover);
}
.input-field input {
	padding: 1rem;
	padding-left: 0.7rem;
}
.input-field:focus-within {
	box-shadow: -24px 32px 48px -8px hsl(0, 0%, 80%), 0 0 24px hsl(0, 0%, 90%),
		0 0 0 1px var(--primary);
}

button.icon-btn {
	background-color: white;
	--size: 4rem;
	width: var(--size);
	height: var(--size);
	display: grid;
	place-items: center;
	padding: 1rem;
	border-radius: 50%;
	box-shadow: var(--shadow);
	transition: 100ms ease;
	position: relative;
}
button.icon-btn:hover {
	box-shadow: var(--shadow-hover);
}
button.icon-btn:active {
	box-shadow: var(--shadow);
	filter: brightness(0.95);
}
button.icon-btn sup.badge {
	--size: 1.5rem;
	width: var(--size);
	height: var(--size);
	position: absolute;
	top: 0;
	right: 0;
	translate: 25% -25%;
	border-radius: 50%;
	background-color: red;
	color: white;
	padding: 0.4rem;
	font-weight: bolder;
	font-size: calc(var(--size) / 2);
	display: grid;
	place-items: center;
	line-height: 100%;
}
